/* Reaction Game (CSS) - Version 1.0
 * Measures the users reaction time.
 * Copyright (C) 2021  Vincent Rietz
 *   
 * This program is licensed under the MIT License. Check the LICENSE file 
 * for more information or visit <https://opensource.org/licenses/MIT>.
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    text-align: center;
}

#text1 {
    font-size: 4vw;
    padding-bottom: 1em;
}

#text2,
#text3 {
    font-size: 1.5vw;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
    cursor: pointer;
}

#instructions {
    position: absolute;
    width: 33%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
   
    color: black;
   
    font-size: 0.8vw;
}

#footer {
    position: fixed;
    right: 0.8%;
    bottom: 0.4%;
    
    z-index: 2;
    cursor: pointer;
    
    font-size: 2vw;
}

@media (max-width: 1600px) {
    #instructions {
        width: 40%;
        font-size: 1vw;
    }
    
    #footer {
        font-size: 2.5vw;
    }
}

@media (max-width: 1300px) {
    #text1 {
        font-size: 4.5vw;
        padding-bottom: 1em;
    }

    #text2,
    #text3 {
        font-size: 2vw;
    }
    
    #instructions {
        width: 45%;
        font-size: 1.2vw;
    }
    
    #footer {
        font-size: 3vw;
    }
}

@media (max-width: 1120px) {
    #instructions {
        width: 43%;
        font-size: 1.4vw;
    }
}

@media (max-width: 960px) {
    #text1 {
        font-size: 5vw;
        padding-bottom: 1em;
    }

    #text2,
    #text3 {
        font-size: 2.5vw;
    }
    
    #instructions {
        width: 50%;
        font-size: 1.6vw;
    }
    
    #footer {
        font-size: 4vw;
    }
}

@media (max-width: 840px) {
    #instructions {
        width: 57%;
        font-size: 1.8vw;
    }
}

@media (max-width: 760px) {
    .container {
        width: 90%;
    }
    
    #text1 {
        font-size: 6vw;
        padding-bottom: 1em;
    }

    #text2,
    #text3 {
        font-size: 3.5vw;
    }
    
    #instructions {
        width: 66%;
        font-size: 2vw;
    }
    
    #footer {
        font-size: 5vw;
    }
}

@media (max-width: 640px) {
    #instructions {
        width: 72%;
        font-size: 2.4vw;
    }
    
    #footer {
        font-size: 6.5vw;
    }
}

@media (max-width: 520px) {
    #text1 {
        font-size: 7.5vw;
        padding-bottom: 1em;
    }
    
    #text2,
    #text3 {
        font-size: 5vw;
    }
    
    #instructions {
        width: 80%;
        font-size: 2.8vw;
    }
    
    #footer {
        font-size: 8.5vw;
    }
}
